body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #222;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.card[data-bs-toggle="modal"] {
 cursor: pointer;
}

.zoom-card {
    transition: transform 0.3s ease;
}

.zoom-card:hover {
    transform: scale(1.1);
}

.carousel-inner {
    height: 400px; /* altura fija para evitar saltos */
}

.carousel-item img {
    object-position: center;
    height: 400px; /* o la altura que prefieras */
    width: 100%;
    object-fit: cover; /* o contain si no quieres recorte */
    transition: opacity 0.5s ease; /* suaviza los cambios */
}
.modal-dialog {
    transition: all 1s ease;
}