<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Projects Portfolio</h2>
        <div class="row g-4">

            <!-- Project: VR Simulator -->
            <div class="col-md-4">
                <div class="card h-100 zoom-card" data-bs-toggle="modal" data-bs-target="#modalVR">
                    <div class="card-body" >
                        <h5 class="card-title text-center">VR Simulator for Firefighters</h5>
                        <h6 class="card-text text-center">[Aug 2023 - Sep 2024]</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="Images/Thesis/Thesis1.jpg" class="d-block w-100 carousel-img" alt="Image 1" style="object-fit: cover; scale: 0.8">
                        </div>
                        <h6 class="card-text text-center">Final thesis project at Universidad de Talca.</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="https://img.icons8.com/color/48/unity.png" alt="Unity" title="Unity" style="height: 40px;">
                            <img src="https://img.icons8.com/color/48/blender-3d.png" alt="Blender" title="Blender" style="height: 40px;">
                            <img src="https://img.icons8.com/?size=100&id=13677&format=png&color=000000" alt="Photoshop" title="Photoshop" style="height: 40px;">
                            <img src="https://www.dockhunt.com/_next/image?url=https%3A%2F%2Fdockhunt-images.nyc3.cdn.digitaloceanspaces.com%2F22ba1538-2cb9-4cc4-a73e-80fdcce62e33&w=256&q=75" alt="Substance Painter" title="Substance Painter" style="height: 32px;">
                            <img src="https://img.icons8.com/?size=100&id=63777&format=png&color=000000" alt="GitHub" title="GitHub" style="height: 40px;">
                            <img src="https://img.icons8.com/?size=100&id=UE01mCLFBOl4&format=png&color=000000" alt="Rider" title="Rider" style="height: 40px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project: AR TecMed -->
            <div class="col-md-4">
                <div class="card h-100 zoom-card" data-bs-toggle="modal" data-bs-target="#modalAR">
                    <div class="card-body" >
                        <h5 class="card-title text-center">Blood System AR</h5>
                        <h6 class="card-text text-center">[Jul 2025 - Apr 2026]</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="Images/ar/ar1.png" class="d-block w-100" alt="Image 1" style="object-fit:cover; scale: 0.8">
                        </div>
                        <h6 class="card-text text-center">Universidad de Talca – Medical Technology</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="https://img.icons8.com/color/48/unity.png" alt="Unity" title="Unity" style="height: 40px;">
                            <img src="https://img.icons8.com/color/48/blender-3d.png" alt="Blender" title="Blender" style="height: 40px;">
                            <img src="https://img.icons8.com/?size=100&id=13677&format=png&color=000000" alt="Photoshop" title="Photoshop" style="height: 40px;">
                            <img src="https://img.icons8.com/?size=100&id=UE01mCLFBOl4&format=png&color=000000" alt="Rider" title="Rider" style="height: 40px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project: Little League -->
            <div class="col-md-4">
                <div class="card h-100 zoom-card" data-bs-toggle="modal" data-bs-target="#modalLLWS">
                    <div class="card-body">
                        <h5 class="card-title text-center">Little League World Series Baseball 2022</h5>
                        <h6 class="card-text text-center">[Jan 2022]</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="Images/llwsb/llwsb.png" class="d-block w-100 carousel-img" alt="Image 1" style="object-fit: cover; scale: 0.8">
                        </div>
                        <h6 class="card-text text-center">Pre-professional internship at IguanaBee.</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="https://img.icons8.com/color/48/unreal-engine.png" alt="Unreal Engine" title="Unreal Engine" height="40">
                            <img src="https://img.icons8.com/?size=100&id=40669&format=png&color=000000" alt="C++" title="C++" height="40">
                            <img src="https://img.icons8.com/?size=100&id=UE01mCLFBOl4&format=png&color=000000" alt="Rider" title="Rider" height="40">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project: BubbleStress -->
            <div class="col-md-4">
                <div class="card h-100 zoom-card" data-bs-toggle="modal" data-bs-target="#modalBubbleStress">
                    <div class="card-body">
                        <h5 class="card-title text-center">BubbleStress</h5>
                        <h6 class="card-text text-center">[Jan 2025]</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="Images/bubble/bubble1.png" class="d-block w-100 carousel-img" alt="Image 1" style="object-fit: cover; scale: 0.8">
                        </div>
                        <h6 class="card-text text-center">Global Game Jam 2025.</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="https://img.icons8.com/color/48/unity.png" alt="Unity" title="Unity" style="height: 32px;">
                            <img src="https://img.icons8.com/?size=100&id=UE01mCLFBOl4&format=png&color=000000" alt="Rider" title="Rider" height="40">
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Project: SpaceShooter -->
            <div class="col-md-4">
                <div class="card h-100 zoom-card" data-bs-toggle="modal" data-bs-target="#modalSpaceShooter">
                    <div class="card-body">
                        <h5 class="card-title text-center">Space Shooter</h5>
                        <h6 class="card-text text-center">[Nov 2025]</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="Images/spaceshooter/ss1.png" class="d-block w-100 carousel-img" alt="Image 1" style="object-fit: cover; scale: 0.8">
                        </div>
                        <h6 class="card-text text-center">UNIR - Universidad de la Rioja.</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="https://img.icons8.com/color/48/unity.png" alt="Unity" title="Unity" style="height: 32px;">
                            <img src="https://img.icons8.com/?size=100&id=UE01mCLFBOl4&format=png&color=000000" alt="Rider" title="Rider" height="40">
                            <img src="https://img.icons8.com/?size=100&id=63777&format=png&color=000000" alt="GitHub" title="GitHub" style="height: 40px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project: PixelHero -->
            <div class="col-md-4">
                <div class="card h-100 zoom-card" data-bs-toggle="modal" data-bs-target="#modalPixelHero">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pixel Hero</h5>
                        <h6 class="card-text text-center">[Dec 2025]</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="Images/pixel/pixel1.png" class="d-block w-100 carousel-img" alt="Image 1" style="object-fit: cover; scale: 0.8">
                        </div>
                        <h6 class="card-text text-center">UNIR - Universidad de la Rioja.</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="https://img.icons8.com/color/48/unity.png" alt="Unity" title="Unity" style="height: 32px;">
                            <img src="https://img.icons8.com/?size=100&id=UE01mCLFBOl4&format=png&color=000000" alt="Rider" title="Rider" height="40">
                            <img src="https://img.icons8.com/?size=100&id=63777&format=png&color=000000" alt="GitHub" title="GitHub" style="height: 40px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project: City Road -->
            <div class="col-md-4">
                <div class="card h-100 zoom-card" data-bs-toggle="modal" data-bs-target="#modalCityRoad">
                    <div class="card-body">
                        <h5 class="card-title text-center">City Road</h5>
                        <h6 class="card-text text-center">[May 2021]</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="Images/Road/road1.png" class="d-block w-100 carousel-img" alt="Image 1" style="object-fit: cover; scale: 0.8">
                        </div>
                        <h6 class="card-text text-center">Universidad de Talca.</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="https://img.icons8.com/color/48/unreal-engine.png" alt="Unreal Engine" height="40">
                            <img src="https://img.icons8.com/color/48/blender-3d.png" alt="Blender" title="Blender" style="height: 32px;">
                            <img src="https://img.icons8.com/?size=100&id=63777&format=png&color=000000" alt="GitHub" title="GitHub" style="height: 40px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project: Elemental Change -->
            <div class="col-md-4">
                <div class="card h-100 zoom-card" data-bs-toggle="modal" data-bs-target="#modalElemental">
                    <div class="card-body">
                        <h5 class="card-title text-center">Elemental Change</h5>
                        <h6 class="card-text text-center">[Mar 2022 - Jul 2022]</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="Images/EC/EC1.png" class="d-block w-100 carousel-img" alt="Image 1" style="object-fit: cover; scale: 0.8">
                        </div>
                        <h6 class="card-text text-center">Universidad de Talca.</h6>
                        <div class="mt-auto gap-3 justify-content-start align-items-center text-center">
                            <img src="https://img.icons8.com/color/48/unreal-engine.png" alt="Unreal Engine" height="40">
                            <img src="https://img.icons8.com/?size=100&id=63777&format=png&color=000000" alt="GitHub" title="GitHub" style="height: 40px;">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
