<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Skills</h2>

        <!-- Languages & Frameworks -->
        <div class="mb-5">
            <h3 class="mb-4 text-center">Languages & Frameworks</h3>
            <div class="row row-cols-3 row-cols-md-5 g-4 text-center">
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/?size=100&id=40670&format=png&color=000000" alt="C" height="40">
                        </div>
                        <div>C</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/c-sharp-logo.png" alt="C#" height="40">
                        </div>
                        <div>C#</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/?size=100&id=40669&format=png&color=000000" alt="C++" height="40">
                        </div>
                        <div>C++</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/html-5.png" alt="HTML" height="40">
                        </div>
                        <div>HTML</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/css3.png" alt="CSS" height="40">
                        </div>
                        <div>CSS</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/javascript.png" alt="JavaScript" height="40">
                        </div>
                        <div>JavaScript</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/?size=100&id=pzBwti6QHuKh&format=png&color=000000" alt="GML" height="40">
                        </div>
                        <div>GML</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/java-coffee-cup-logo.png" alt="Java" height="40">
                        </div>
                        <div>Java</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/dart.png" alt="Dart" height="40">
                        </div>
                        <div>Dart</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/postgreesql.png" alt="PostgreSQL" height="40">
                        </div>
                        <div>PostgreSQL</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Software & Tools -->
        <div>
            <h3 class="mb-4 text-center">Software & Tools</h3>
            <div class="row row-cols-3 row-cols-md-5 g-4 text-center">
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/unity.png" alt="Unity" height="40">
                        </div>
                        <div>Unity</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/unreal-engine.png" alt="Unreal Engine" height="40">
                        </div>
                        <div>Unreal Engine</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/?size=100&id=pzBwti6QHuKh&format=png&color=000000" alt="GameMaker (placeholder)" height="40">
                        </div>
                        <div>GameMaker</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/blender-3d.png" alt="Blender" height="40">
                        </div>
                        <div>Blender</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/3ds-max.png" alt="3ds Max" height="40">
                        </div>
                        <div>3ds Max</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/ios-filled/50/github.png" alt="GitHub" height="40">
                        </div>
                        <div>GitHub</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/adobe-photoshop--v1.png" alt="Photoshop" height="40">
                        </div>
                        <div>Photoshop</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/adobe-illustrator--v1.png" alt="Illustrator" height="40">
                        </div>
                        <div>Illustrator</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/adobe-after-effects--v1.png" alt="After Effects" height="40">
                        </div>
                        <div>After Effects</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://www.dockhunt.com/_next/image?url=https%3A%2F%2Fdockhunt-images.nyc3.cdn.digitaloceanspaces.com%2F22ba1538-2cb9-4cc4-a73e-80fdcce62e33&w=256&q=75" alt="Substance Painter" height="40">
                        </div>
                        <div>Substance Painter</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/adobe-premiere-pro--v1.png" alt="Premiere" height="40">
                        </div>
                        <div>Premiere</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/?size=100&id=pNvuBsEVgVCG&format=png&color=000000" alt="Krita (placeholder)" height="40">
                        </div>
                        <div>Krita</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/color/48/android-studio--v2.png" alt="Android Studio" height="40">
                        </div>
                        <div>Android Studio</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="mb-2">
                            <img src="https://img.icons8.com/?size=100&id=UE01mCLFBOl4&format=png&color=000000" alt="Rider (placeholder)" height="40">
                        </div>
                        <div>Rider</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>